{% extends '_layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
        text: "Back",
        href: "/",
        attributes: {
          id: "back"
        }
      }) 
    }}
{% endblock %}
{% extends '_layout.njk' %}
{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% from "macros/search-box.njk" import searchBox %}
{% from "./macros/pagination.njk" import pager %}

{% from "macros/search-box.njk" import searchBox %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Select the organisation to make an application for</h1>
      <p class="govuk-body">Only eligible organisations that you have access to are shown.</p>
    </div>
  </div>

  {% if model.errorMessage %}
    {{ govukErrorSummary({
      titleText: "Not a valid SBI",
      errorList: [
        {
          text: model.errorMessage.text
        }
      ]
    }) }}
  {% endif %}

  <div class="user-search-box govuk-!-width-two-thirds">
    <form class="search-form" action="/eligible-organisations" method="POST">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{searchBox(model)}}
    </form>
  </div>

  <a href="/eligible-organisations" class="govuk-link govuk-link--no-visited-state">View all organisations</a>

  {% if not model.errorMessage %}
    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Organisation</th>
              <th scope="col" class="govuk-table__header">SBI Number</th>
              <th scope="col" class="govuk-table__header">Applications</th>
              <th scope="col" class="govuk-table__header "></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ partyName }}</td>
              <td class="govuk-table__cell">{{ id }}</td>
              <td class="govuk-table__cell">{{numberOfApplications}}</td>
              <td class="govuk-table__cell"><a class="start-application-link" href='/start-application?sbi={{ eligibleOranisation.sbi }}'>View or start applications</a></td>
            </tr>
          </tbody>
        </table>
        {% if pagination === true %}
          {{ pager(page, totalPages, limit, total, url, hasNext, hasPrevious, showNextEllipsis, showPreviousEllipsis) }}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

